@media (max-width: 767px)
    .left-box
        .logo
            max-width: 150px

    .right-box
        display: none

    .background-fade
        width: 100%

    .left-box
        .text
            display: none

@media (min-width: 768px)
    .left-box
        .logo
            max-width: 200px

@media (min-width: 992px)
    .left-box
        .logo
            max-width: 250px

@media (min-width: 1200px)
    .left-box
        .logo
            max-width: 100%
