.btn
    padding: 10px 15px
    font-size: 16px
    border-radius: 5px
    transition: .3s
    outline: none
    letter-spacing: 1px
    text-transform: uppercase

    &:hover
        cursor: pointer

.btn-primary
    background-color: $primary-color
    color: $secondary-color
    border: 1px solid $secondary-color

    &:hover
        box-shadow: 0 0 6px $secondary-color


.btn-secondary
    background-color: $secondary-color
    color: $primary-color
    border: 1px solid $primary-color

    &:hover
        box-shadow: 0 0 6px $primary-color

.btn-green
    background-color: $green-color
    color: $green-color-contrast
    border: 1px solid $green-color

    &:hover
        box-shadow: 0 0 6px $green-color-contrast

.btn-success
    background-color: $green-color
    color: $green-color-contrast
    border: 1px solid $green-color

    &:hover
        box-shadow: 0 0 6px $green-color-contrast

.input-text
    padding: 8px
    outline: none
    border-radius: 5px
    border: none

    &:focus
        box-shadow: 0 0 5px #f0f0f0
